# Dependencies
node_modules
.direnv
.pnp
.pnp.js
/target
.venv/
venv/
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Build Outputs
dist
.output
.nitro
.tanstack
.vinxi

# Debug
pnpm-debug.log*

# Misc
.content-collections
.DS_Store
*.pem
/expent.db
